@media all and (max-width: 767px) {
  /* Mobile Fonts and line heights */
  .font-sm-10 {
    font-size: 10px;
  }
  .font-sm-11 {
    font-size: 11px;
  }
  .font-sm-12 {
    font-size: 12px;
  }
  .font-sm-13 {
    font-size: 13px;
  }
  .font-sm-14 {
    font-size: 14px;
  }
  .font-sm-15 {
    font-size: 15px;
  }
  .font-sm-16 {
    font-size: 16px;
  }
  .font-sm-18 {
    font-size: 18px;
  }
  .font-sm-20 {
    font-size: 20px;
  }
  .font-sm-22 {
    font-size: 23px;
  }
  .font-sm-23 {
    font-size: 23px;
  }
  .font-sm-24 {
    font-size: 24px;
  }
  .font-sm-30 {
    font-size: 30px;
  }
  .font-sm-40 {
    font-size: 40px;
  }
  .font-sm-44 {
    font-size: 44px;
  }
  .font-sm-58 {
    font-size: 58px;
  }
  .lh-sm-14 {
    line-height: 14px;
  }
  .lh-sm-16 {
    line-height: 16px;
  }
  .lh-sm-17 {
    line-height: 17px;
  }
  .lh-sm-18 {
    line-height: 18px;
  }
  .lh-sm-19 {
    line-height: 19px;
  }
  .lh-sm-20 {
    line-height: 20px;
  }
  .lh-sm-21 {
    line-height: 21px;
  }
  .lh-sm-22 {
    line-height: 22px;
  }
  .lh-sm-24 {
    line-height: 24px;
  }
  .lh-sm-26 {
    line-height: 26px;
  }
  .lh-sm-28 {
    line-height: 28px;
  }
  .lh-sm-29 {
    line-height: 29px;
  }
  .lh-sm-30 {
    line-height: 30px;
  }
  .section-normal-padding section.pb-sm-0 {
    padding-bottom: 0 !important;
  }
  .section-normal-padding section.pt-sm-0 {
    padding-top: 0 !important;
  }
  .pb-sm-0 {
    padding-bottom: 0 !important;
  }
  .pt-sm-0 {
    padding-top: 0 !important;
  }
  .heading-after::after {
    width: 12px;
    height: 13px;
    margin-left: 7px;
  }
  .mt-70px {
    margin-top: 60px;
  }
  .round-wh-20 {
    width: 20px;
    height: 20px;
  }
  .tag {
    font-size: 11px;
    line-height: 18px;
  }
  p br {
    display: none;
  }
  .ratings .font-15 {
    font-size: 11px;
    line-height: 120%;
  }
  .rating_block svg {
    width: 12px;
    height: 12px;
  }
  .viewmore {
    font-size: 12px;
    line-height: 18px;
    padding: 10px 38px;
  }
  .normal-card .image_part img {
    height: 112px;
  }
  .normal-card .content_part {
    background: white;
    padding: 10px;
    box-shadow: 0px 513px 205px rgba(0, 0, 0, 0.01), 0px 288px 173px rgba(0, 0, 0, 0.03), 0px 128px 128px rgba(0, 0, 0, 0.04), 0px 32px 71px rgba(0, 0, 0, 0.05), 0px 0px 0px rgba(0, 0, 0, 0.05);
    border-radius: 0px 0px 15px 15px;
  }
  .experience-card .content_part h6 {
    font-size: 14px !important;
    line-height: 17px !important;
  }
  .experience-card .content_part h6 + p {
    font-size: 10px !important;
    line-height: 12px !important;
    margin-bottom: 10px !important;
  }
  .experience-card .content_part h6 + p + div {
    flex-direction: column;
    margin-bottom: 12px !important;
    align-items: flex-start !important;
    justify-content: flex-start !important;
  }
  .experience-card .content_part .font-16 {
    font-size: 12px !important;
  }
  .elite-card .image_part img {
    height: 126px !important;
  }
  .elite-card .content_part {
    box-shadow: 0px 513px 205px rgba(0, 0, 0, 0.01), 0px 288px 173px rgba(0, 0, 0, 0.03), 0px 128px 128px rgba(0, 0, 0, 0.04), 0px 32px 71px rgba(0, 0, 0, 0.05), 0px 0px 0px rgba(0, 0, 0, 0.05);
    border-radius: 0px 0px 3px 3px !important;
  }
  .elite-card .content_part > span {
    font-size: 12px;
    line-height: 19px;
    margin-bottom: 12px !important;
  }
  .elite-card .content_part > span + h6 + span {
    font-size: 11px !important;
    line-height: 13px !important;
  }
  .seasonal-card .content_part > span {
    font-size: 12px !important;
    line-height: 19px !important;
    margin-bottom: 8px !important;
  }
  .seasonal-card .content_part > span + h6 {
    font-size: 12px !important;
    line-height: 14px !important;
    margin-bottom: 8px !important;
  }
  header {
    background-color: rgb(255, 255, 255);
    padding: 8px 0;
  }
  header .site-logo {
    max-width: 136px;
  }
  header .navbar-toggler-mobile {
    padding: 7px 9px;
    font-size: 14px;
    line-height: 17px;
  }
  .mt-sm-90px {
    margin-top: 90px;
  }
  .header_menu ul {
    flex-direction: column;
    align-items: flex-start !important;
    justify-content: flex-start !important;
  }
  .header_menu ul li {
    margin: 0 0 5px !important;
    padding: 0 !important;
    border: none !important;
  }
  .header_menu ul li a {
    display: block !important;
  }
  .home_banner {
    height: 60vh !important;
  }
  .home_banner .carousel-inner {
    height: 60vh !important;
  }
  .home_banner .carousel-inner .carousel-item {
    height: 60vh !important;
  }
  .home_banner .carousel-inner .carousel-item img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: right;
       object-position: right;
  }
  .home_banner .content_part {
    padding: 16px;
  }
  .home_banner .content_part h2::after {
    left: 70px !important;
  }
  .home_banner .search_in_banner input {
    font-size: 13px;
  }
  .search_banner .carousel-inner .carousel-item img {
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: bottom right;
       object-position: bottom right;
  }
  .search_banner .content_part {
    padding: 16px;
  }
  .search_banner .content_part h2::after {
    left: 70px !important;
  }
  .search_banner .search_in_banner input {
    font-size: 13px;
  }
  .our_services {
    overflow: hidden;
  }
  .our_services .container::after {
    top: -55px;
    right: -25px;
  }
  .our_services .services_images img {
    height: 123px;
    border-radius: 10px;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: bottom;
       object-position: bottom;
  }
  .most-liked-destinations {
    padding: 40px 0 10px;
  }
  .popular-attractions .popular_attractions {
    margin: 30px 0 0;
    flex-wrap: nowrap;
    max-height: -webkit-fit-content !important;
    max-height: -moz-fit-content !important;
    max-height: fit-content !important;
    gap: 12px;
    flex-direction: column;
  }
  .popular-attractions .popular_attractions .popular_attractions_grid_col {
    display: flex;
    flex-wrap: nowrap;
    height: auto;
    width: 100% !important;
    max-height: -webkit-fit-content !important;
    max-height: -moz-fit-content !important;
    max-height: fit-content !important;
    gap: 12px;
    flex-direction: row;
  }
  .popular-attractions .popular_attractions .popular_attractions_grid_col .popular_attractions_card {
    box-shadow: 1px 1px 10px rgba(224, 224, 224, 0.25);
    border-radius: 10px;
    overflow: hidden;
  }
  .popular-attractions .popular_attractions .popular_attractions_grid_col .popular_attractions_card .image_part img {
    height: 140px;
    -o-object-position: bottom;
       object-position: bottom;
  }
  .popular-attractions .popular_attractions .popular_attractions_grid_col .content_part > span {
    word-break: break-all;
    font-size: 14px;
  }
  .popular-attractions .popular_attractions .popular_attractions_grid_col:last-child .popular_attractions_card .image_part img {
    height: 150px;
    -o-object-position: bottom;
       object-position: bottom;
  }
  .elite-trips-row > div:nth-child(1) {
    padding-right: 3px;
  }
  .elite-trips-row > div:nth-child(1) .elite-trip-card .image_part img {
    height: 261px !important;
  }
  .elite-trips-row > div:nth-child(2) {
    padding-left: 3px;
  }
  .elite-trips-row > div:nth-child(2) .elite-trip-card .image_part img {
    height: 261px !important;
  }
  .elite-trips-row > div:nth-child(3) {
    padding-top: 6px;
  }
  .elite-trips-row > div:nth-child(3) .elite-trip-card .image_part img {
    height: 184px !important;
    -o-object-position: bottom;
       object-position: bottom;
  }
  .elite-trip-card .image_part span {
    font-size: 12px;
    line-height: 21px;
    bottom: 10px;
    padding: 0 10px;
  }
  .elite-trip-card .image_part span br {
    display: none;
  }
  .elite-trip-card .image_part span p {
    font-size: 10px;
    line-height: 16px;
  }
  .elite-trips {
    padding: 30px 0 0;
  }
  .top-elite-trips {
    padding: 50px 0 35px;
  }
  .experience_category_grid {
    gap: 12px;
    align-items: flex-start;
  }
  .experience_category_grid .experience_category_grid_col {
    width: 100% !important;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
  }
  .experience_category_grid .experience_category_grid_col:nth-child(2) .experience_category_card, .experience_category_grid .experience_category_grid_col:nth-child(3) .experience_category_card {
    width: 49%;
  }
  .experience_category_grid .experience_category_grid_col:nth-child(5), .experience_category_grid .experience_category_grid_col:nth-child(6) {
    width: 48% !important;
  }
  .experience_category_grid .experience_category_grid_col .experience_category_card {
    width: 100%;
  }
  .experience_category_grid .experience_category_grid_col .experience_category_card + .experience_category_card {
    margin-top: 0;
  }
  .experience_category_grid .experience_category_grid_col .experience_category_card .image_part img {
    height: 140px;
    -o-object-position: bottom;
       object-position: bottom;
  }
  .experience_category_grid .experience_category_grid_col .experience_category_card .content_part span {
    font-size: 14px;
    line-height: 17px;
  }
  .culture_tripper_wrapper {
    margin: 40px 0;
    padding: 16px 10px;
    border-radius: 0px 10px 20px 22px;
  }
  .culture_tripper_wrapper .row {
    flex-direction: column-reverse;
  }
  .culture_tripper_wrapper .row .image_part {
    margin: 0 0 22px;
    z-index: 2;
  }
  .culture_tripper_wrapper .row .image_part img {
    height: 144px;
    min-height: auto;
    -o-object-position: bottom;
       object-position: bottom;
  }
  .culture_tripper_wrapper .row .image_part::after {
    top: 120px;
    left: 4px;
  }
  .culture_tripper_wrapper .row .content_part h5 {
    margin-bottom: 16px !important;
  }
  .culture_tripper_wrapper .row .content_part .culture_form {
    margin: 20px 0 0;
    flex-direction: column;
  }
  .culture_tripper_wrapper .row .content_part .culture_form input {
    width: 100%;
    margin: 0 0 10px !important;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
  .culture_tripper_wrapper .row .content_part .culture_form button {
    width: 100%;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
  .culture_tripper_wrapper::after {
    top: 12px;
    left: 6px;
    z-index: 1;
  }
  .latest-travelogues-categories .latest-travelogues-wrap {
    margin: 30px 0 0;
    flex-direction: column-reverse;
  }
  .latest-travelogues-categories .latest-travelogues-wrap > div:last-child .latest-travelogues-card.latest-travelogues-card-col .latest-travelogues-imagepart {
    margin-bottom: 16px;
  }
  .latest-travelogues-categories .latest-travelogues-wrap > div:last-child .latest-travelogues-card.latest-travelogues-card-col .latest-travelogues-imagepart img {
    height: 175px;
    min-height: auto;
  }
  .latest-travelogues-categories .latest-travelogues-wrap > div:last-child .latest-travelogues-card.latest-travelogues-card-col .latest-travelogues-contentpart > div:first-child {
    margin-bottom: 10px;
  }
  .latest-travelogues-categories .latest-travelogues-wrap > div:first-child {
    margin-top: 20px;
  }
  .latest-travelogues-categories .latest-travelogues-wrap > div:first-child .latest-travelogues-card .latest-travelogues-imagepart img {
    width: 90px;
    height: 90px;
  }
  .latest-travelogues-categories .latest-travelogues-wrap > div:first-child .latest-travelogues-card .latest-travelogues-contentpart .date_part span {
    font-size: 10px !important;
    line-height: 16px !important;
  }
  .popular-travelogues-categories .travel_card_grid {
    margin: 30px 0 0;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px 20px;
  }
  .culture_tripper_wrapper_elite .culture_form_elite {
    flex-direction: column;
  }
  .culture_tripper_wrapper_elite .culture_form_elite input {
    margin: 0 0 10px !important;
    width: 100%;
    font-size: 14px;
  }
  .culture_tripper_wrapper_elite .culture_form_elite button {
    width: 100%;
    font-size: 14px;
  }
  .culture_tripper_wrapper_elite img {
    height: 105px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .culture_tripper_wrapper_elite::after {
    width: 60px;
    height: 57px;
    top: 10px;
    left: 10px;
  }
  .culture_tripper_wrapper_elite::before {
    width: 60px;
    height: 57px;
    top: 10px;
    right: 10px;
  }
  .popular-travelogues-categories {
    padding: 0 0 0;
  }
  .culture_tripper_wrapper_elite {
    margin: 40px 0;
  }
  .cece_footer ul {
    flex-wrap: wrap;
  }
  footer {
    padding: 5px 0 30px;
  }
  footer .footer_logo {
    margin-bottom: 0 !important;
  }
  footer .footer_first > div {
    font-size: 15px;
    line-height: 18px;
  }
  footer .footer_first .things_menu {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  footer .footer_first .things_menu a {
    font-size: 12px;
    line-height: 19px;
  }
  footer .footer_middle {
    margin: 0 0 40px;
  }
  footer .footer_middle .footer_blog_cards_wrap {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px 5px;
  }
  footer .footer_middle .footer_blog_card .post_name {
    font-size: 12px;
    line-height: 14px;
  }
  footer .footer_middle .footer_blog_card .post_name + div {
    font-size: 10px;
    line-height: 16px;
  }
  footer .footer_last .footer_part_one .footer_menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
  footer .footer_last .footer_part_one .footer_menu a {
    font-size: 12px;
    line-height: 15px;
  }
  footer .footer_last .footer_part_two {
    flex-direction: column;
    align-items: flex-start !important;
    justify-content: flex-start !important;
  }
  footer .footer_last .footer_part_two .policy_menu li a {
    font-size: 10px !important;
    line-height: 13px !important;
  }
  footer .footer_last .copyright {
    font-size: 10px !important;
    line-height: 13px !important;
    margin-top: 12px;
  }
  .browse_by_cat {
    gap: 4px;
  }
  .browse_by_cat .elite-trip-card {
    width: 32%;
  }
  .browse_by_cat .elite-trip-card:nth-last-child(1), .browse_by_cat .elite-trip-card:nth-last-child(2) {
    width: 49%;
  }
  .browse_by_cat .elite-trip-card .image_part img {
    height: 200px !important;
  }
  .browse_by_cat_elite {
    margin: 0 !important;
  }
  .browse_by_cat_elite div.col-12:nth-child(odd) {
    margin-top: 0;
  }
  .browse_by_cat_elite .elite-trip-card .image_part img {
    height: 200px !important;
    -o-object-position: bottom;
       object-position: bottom;
  }
  .browse_by_cat_elite .elite-trip-card .image_part > span p {
    padding-top: 6px !important;
  }
  .trip-intro-banner .info-items-block .info-item {
    padding: 0 20px;
  }
  .trip-intro-banner .info-items-block .info-item div:nth-child(1) {
    font-size: 9px;
    line-height: 14px;
  }
  .trip-intro-banner .info-items-block .info-item div:nth-child(2) {
    font-size: 11px;
    line-height: 18px;
  }
  .trip-inner-page .inner-breadcrumb {
    flex-wrap: wrap;
  }
  .trip-inner-page .inner-breadcrumb span {
    font-size: 10px;
    margin-right: 5px;
    line-height: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100px;
    display: inline-flex;
    align-items: center;
  }
  .trip-inner-page .inner-breadcrumb span::after {
    margin-left: 5px;
    width: 7px;
    height: 9px;
  }
  .trip-inner-page .inner-breadcrumb span:last-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 120px;
  }
  .why_pick_elite {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 33px 16px;
  }
  .orange_box {
    padding: 20px !important;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 40px 30px;
  }
  .orange_box li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .orange_box li span {
    font-size: 12px;
    line-height: 19px;
    margin-right: 6px;
    width: 30px;
    height: 30px;
  }
  #accordion_itinerary .card {
    padding: 15px 0;
  }
  #accordion_itinerary .card .card-header button {
    font-size: 14px;
    line-height: 22px;
  }
  #accordion_itinerary .card .card-header button span {
    font-size: 10px;
    line-height: 16px;
  }
  #accordion_itinerary .card .card-body ul, #accordion_itinerary .card .card-body p {
    font-size: 12px;
    line-height: 19px;
  }
  #otherinfoTab .nav-item .nav-link,
#highlightsTab .nav-item .nav-link {
    font-size: 12px;
    line-height: 19px;
    padding: 6px 0;
  }
  #otherinfoTab .nav-item .nav-link.active,
#highlightsTab .nav-item .nav-link.active {
    padding: 6px 18px;
  }
  #otherinfoTabContent .tab-pane *, #highlightsTabContent .tab-pane * {
    font-size: 12px;
    line-height: 19px;
  }
  .elite-trip-form {
    padding: 14px 23px;
    width: 95%;
    margin: auto;
    flex-direction: column;
  }
  .elite-trip-form .content_side {
    width: 100%;
  }
  .elite-trip-form .content_side .info-items-block .info-item {
    padding: 0 20px;
  }
  .elite-trip-form .content_side .info-items-block .info-item div:nth-child(1) {
    font-size: 9px;
    line-height: 14px;
  }
  .elite-trip-form .content_side .info-items-block .info-item div:nth-child(2) {
    font-size: 11px;
    line-height: 18px;
  }
  .elite-trip-form .form_side {
    width: 100%;
    margin: 100px 0 0;
  }
  .elite-trip-form .form_side::before {
    top: -200px;
    left: 50%;
    transform: rotate(90deg) translate(0, 5%);
  }
  .elite-trip-form .form_side form input, .elite-trip-form .form_side form button, .elite-trip-form .form_side form .notes {
    font-size: 12px;
    line-height: 19px;
    padding: 12px 19px;
    margin-bottom: 10px;
  }
  .elite-trip-form .form_side form input::-moz-placeholder, .elite-trip-form .form_side form button::-moz-placeholder, .elite-trip-form .form_side form .notes::-moz-placeholder {
    font-size: 12px;
    line-height: 19px;
  }
  .elite-trip-form .form_side form input:-ms-input-placeholder, .elite-trip-form .form_side form button:-ms-input-placeholder, .elite-trip-form .form_side form .notes:-ms-input-placeholder {
    font-size: 12px;
    line-height: 19px;
  }
  .elite-trip-form .form_side form input::placeholder, .elite-trip-form .form_side form button::placeholder, .elite-trip-form .form_side form .notes::placeholder {
    font-size: 12px;
    line-height: 19px;
  }
  .result_menu_block .things_menu {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .result_menu_block .things_menu a {
    font-size: 12px;
    line-height: 19px;
  }
  .breadcrumb-type-normal {
    flex-wrap: wrap;
    padding: 10px 0;
  }
  .breadcrumb-type-normal span {
    font-size: 10px;
    margin-right: 5px;
    line-height: 16px;
    display: inline-flex;
    align-items: center;
  }
  .breadcrumb-type-normal span::after {
    margin-left: 5px;
    width: 7px;
    height: 9px;
  }
  #elite-innercarouselIndicators .carousel-control-prev {
    left: -10px;
  }
  #elite-innercarouselIndicators .carousel-control-next {
    right: -10px;
  }
  #elite-innercarouselIndicators .carousel-control-prev,
#elite-innercarouselIndicators .carousel-control-next {
    width: 20px;
    height: 20px;
  }
  #elite-innercarouselIndicators .carousel-control-prev-icon,
#elite-innercarouselIndicators .carousel-control-next-icon {
    width: 5px;
    height: 8px;
  }
}
.search_page_form input, .search_page_form label {
  font-size: 13px;
}
.search_page_form button {
  width: 40px;
  height: 40px;
}

.card-carousel .carousel-arrows {
  max-width: 120px;
}
.card-carousel .carousel-indicators li.active {
  width: 10px;
  height: 10px;
}
.card-carousel .carousel-control-prev-icon,
.card-carousel .carousel-control-next-icon {
  min-width: 30px;
  height: 30px;
}/*# sourceMappingURL=responsive.css.map */