
// Mobile 
@media all and (max-width:767px){
    // .font-44{
    //     font-size: 20px;
    // }
    // .font-58{
    //     font-size: 24px;
    // }
    // .font-18{
    //     font-size: 12px;
    // }
    // .font-16{
    //     font-size: 14px;
    // }
    // .font-23 {
    //     font-size: 12px;
    // }
    // .font-30{
    //     font-size: 15px;
    // }
    // .lh-28 {
    //     line-height: 14px;
    // }
    
    
    // .lh-36{
    //     line-height: 18px;
    // }
    // .lh-29{
    //     line-height: 19px;
    // }
    // .lh-53 {
    //     line-height: 24px;
    // }
    // .lh-73 {
    //     line-height: 30px;
    // }
    /* Mobile Fonts and line heights */
    .font-sm-10{
        font-size: 10px;
    }
    .font-sm-11{
        font-size: 11px;
    }
    .font-sm-12{
        font-size: 12px;
    }
    .font-sm-13{
        font-size: 13px;
    }
    .font-sm-14{
        font-size: 14px;
    }
    .font-sm-15{
        font-size: 15px;
    }
    .font-sm-16{
        font-size: 16px;
    }
    .font-sm-18{
        font-size: 18px;
    }
    .font-sm-20{
        font-size: 20px;
    }
    .font-sm-22{
        font-size: 23px;
    }
    .font-sm-23{
        font-size: 23px;
    }
    .font-sm-24{
    font-size: 24px;
    }
    .font-sm-30{
        font-size: 30px;
    }
    .font-sm-40{
        font-size: 40px;
    }
    .font-sm-44{
        font-size: 44px;
    }
    .font-sm-58{
        font-size: 58px;
    }
    .lh-sm-14{
        line-height: 14px;
    }
    .lh-sm-16{
        line-height: 16px;
    }
    .lh-sm-17{
        line-height: 17px;
    }
    .lh-sm-18{
        line-height: 18px;
    }
    .lh-sm-19{
        line-height: 19px;
    }
    .lh-sm-20{
        line-height: 20px;
    }
    .lh-sm-21{
        line-height: 21px;
    }
    .lh-sm-22{
        line-height: 22px;
    }
    .lh-sm-24{
        line-height: 24px;
    }
    .lh-sm-26{
        line-height: 26px;
    }
    .lh-sm-28{
        line-height: 28px;
    }
    .lh-sm-29{
        line-height: 29px;
    }
    .lh-sm-30{
        line-height: 30px;
    }

    .section-normal-padding{
        section{
            &.pb-sm-0{
                padding-bottom: 0!important;
            }  
            &.pt-sm-0{
                padding-top: 0!important;
            }      
        }
    }
    .pb-sm-0{
        padding-bottom: 0!important;
    }
    .pt-sm-0{
        padding-top: 0!important;
    }      

    .heading-after{
        &::after{
            width: 12px;
            height: 13px;
            margin-left: 7px;
        }
    }

    // tag
    .tag{
        font-size: 11px;
        line-height: 18px;
    }

    // 
    p{
        br{
            display: none;
        }
    }

    .ratings{
        .font-15{
            font-size: 11px;
            line-height: 120%;
        }
    }
    .rating_block svg{
        width: 12px;
        height: 12px;
    }

    .viewmore{
        font-size: 12px;
        line-height: 18px;
        padding: 10px 38px;
    }

    .normal-card{
        .image_part{
            img{
                height: 112px;
            }
        }
        .content_part{
            background: white;
            padding: 10px;
            box-shadow: 0px 513px 205px rgba(0, 0, 0, 0.01), 0px 288px 173px rgba(0, 0, 0, 0.03), 0px 128px 128px rgba(0, 0, 0, 0.04), 0px 32px 71px rgba(0, 0, 0, 0.05), 0px 0px 0px rgba(0, 0, 0, 0.05);
            border-radius: 0px 0px 15px 15px;
        }
    }

    .experience-card{
        .content_part{
            h6{
                font-size: 14px!important;
                line-height: 17px!important;
                & + p{
                    font-size: 10px!important;
                    line-height: 12px!important;
                    margin-bottom: 10px!important;
                    & + div{
                        flex-direction: column;
                        margin-bottom: 12px!important;
                        align-items: flex-start!important;
                        justify-content: flex-start!important;
                        div{
                            img{
                            
                            }
                        }
                    }
                }
            }
            .font-16{
                font-size: 12px!important;
            }
        }
    }

    .elite-card{
        .image_part{
            img{
                height: 126px!important;
            }
        }
        .content_part{
            box-shadow: 0px 513px 205px rgba(0, 0, 0, 0.01), 0px 288px 173px rgba(0, 0, 0, 0.03), 0px 128px 128px rgba(0, 0, 0, 0.04), 0px 32px 71px rgba(0, 0, 0, 0.05), 0px 0px 0px rgba(0, 0, 0, 0.05);
            border-radius: 0px 0px 3px 3px!important;
            & > span{
                font-size: 12px;
                line-height: 19px;
                margin-bottom: 12px!important;
                & + h6 + span{
                    font-size: 11px!important;
                    line-height: 13px!important;
                }
            }
        }
    }

    .seasonal-card{
        .content_part{
            & > span{
                font-size: 12px!important;
                line-height: 19px!important;
                margin-bottom: 8px!important;
                & + h6{
                    font-size: 12px!important;
                    line-height: 14px!important;
                    margin-bottom: 8px!important;
                }
            }
        }
    }


    header{
        background-color: rgba(255, 255, 255, 1);
        padding: 8px 0;
        .site-logo{
            max-width: 136px;
        }
        .navbar-toggler-mobile{
            padding: 7px 9px;
            font-size: 14px;
            line-height: 17px;
        }
    }
    .mt-sm-90px{
        margin-top: 90px;
    }

    // 
    .header_menu{
        ul{
            flex-direction: column;
            align-items: flex-start!important;
            justify-content: flex-start!important;
            li{
                margin: 0 0 5px!important;
                padding: 0!important;
                border: none!important;
                a{
                    display: block!important;
                }
            }
        }
    }

    // 
    .home_banner{
        height: 60vh!important;
        .carousel-inner{
            height: 60vh!important;
            .carousel-item{
                height: 60vh!important;
                img{
                    height: 100%;
                    object-fit: cover;
                    object-position: right;
                }
            }
        }
        .content_part{
            padding: 16px;
            h2{
                &::after{
                    left:70px!important;
                }
            }
        }
        .search_in_banner{
            input{
                font-size: 13px;
            }
        }
    }


    .our_services{
        .services_images{
            img{
                height: 123px;
                border-radius: 10px;
                width: 100%;
                object-fit: cover;
                object-position: bottom;
            }
        }
    }

    .most-liked-destinations {
        padding: 40px 0 10px;
    }

    .popular-attractions{
        .popular_attractions{
            margin: 30px 0 0;
            flex-wrap: nowrap;
            max-height: fit-content!important;
            gap: 12px;
            flex-direction: column;
            .popular_attractions_grid_col{
                display: flex;
                flex-wrap: nowrap;
                height: auto;
                width: 100%!important;
                max-height: fit-content!important;
                gap: 12px;
                flex-direction: row;
                .popular_attractions_card{
                    box-shadow: 1px 1px 10px rgba(224, 224, 224, 0.25);
                    border-radius: 10px;
                    overflow: hidden;
                    .image_part{
                        img{
                            height: 140px;
                            object-position: bottom;
                        }
                    }
                }
                .content_part{
                    & > span{
                        word-break: break-all;
                        font-size: 14px;
                    }
                }
                &:last-child{
                    .popular_attractions_card{
                        .image_part{
                            img{
                                height: 150px;
                                object-position: bottom;
                            }
                        }
                    }
                }
            }
        }
    }

    // elite-trips-row
    .elite-trips-row{
        & > div:nth-child(1){
            padding-right: 3px;
            .elite-trip-card{
                .image_part{
                    img{
                        height: 261px!important;
                    }
                }
            }
        }
        & > div:nth-child(2){
            padding-left: 3px;
            .elite-trip-card{
                .image_part{
                    img{
                        height: 261px!important;
                    }
                }
            }
        }
        & > div:nth-child(3){
            padding-top: 6px; 
            .elite-trip-card{
                .image_part{
                    img{
                        height: 184px!important;
                        object-position: bottom;
                    }
                }
            }
        }
    }
    .elite-trip-card{
        .image_part{
            span{
                font-size: 12px;
                line-height: 21px;
                bottom: 10px;
                padding: 0 10px;
                br{
                    display: none;
                }
                p{
                    font-size: 10px;
                    line-height: 16px;
                }
            }
        }
    }
    

    .elite-trips{
        padding: 30px 0 0;
    }

    // .top-elite-trips
    .top-elite-trips{
        padding: 50px 0 35px;
    }

    // .experience_category_grid
    .experience_category_grid{
        gap: 12px;
        align-items: flex-start;
        .experience_category_grid_col{
            width: 100%!important;
            flex-direction: row;
            display: flex;
            justify-content: space-between;
            &:nth-child(2),&:nth-child(3){
                .experience_category_card{
                    width: 49%;
                }    
            }
            &:nth-child(5),&:nth-child(6){
                width: 48%!important;
            }
            .experience_category_card{
                width: 100%;
                & + .experience_category_card{
                    margin-top: 0;
                }
                .image_part{
                    img{
                        height: 140px;
                        object-position: bottom;
                    }
                }
                .content_part{
                    span{
                        font-size: 14px;
                        line-height: 17px;
                    }
                }
            }
        }
    }

    .culture_tripper_wrapper{
        margin: 40px 0;
        padding: 16px 10px;
        border-radius: 0px 10px 20px 22px;
        .row{
            flex-direction: column-reverse;
            .image_part{
                margin: 0 0 22px;
                z-index: 2;
                img{
                    height: 144px;
                    min-height: auto;
                    object-position: bottom;
                }
                &::after{
                    top: 120px;
                    left: 4px;
                }
            }
            .content_part{
                h5{
                    margin-bottom: 16px!important;
                }
                .culture_form{
                    margin: 20px 0 0;
                    flex-direction: column;
                    input{
                        width: 100%;
                        margin:0 0 10px!important;
                        height: 46px;
                        font-size: 14px;
                        line-height: 17px;
                    }
                    button{
                        width: 100%;
                        height: 46px;
                        font-size: 14px;
                        line-height: 17px;
                    }
                }
            }
        }
        &::after{
            top: 12px;
            left: 6px;
            z-index: 1;
        }
    }

    .latest-travelogues-categories{
        .latest-travelogues-wrap{
            margin: 30px 0 0;
            flex-direction: column-reverse;
            &>div:last-child{
                .latest-travelogues-card{
                    &.latest-travelogues-card-col{
                        .latest-travelogues-imagepart{
                            margin-bottom: 16px;
                            img{
                                height: 175px;
                                min-height: auto;
                            }
                        }
                        .latest-travelogues-contentpart{
                            & > div:first-child{
                                margin-bottom: 10px;
                            }
                        }
                    }
                }
            }
            &>div:first-child{
                margin-top: 20px;
                .latest-travelogues-card{
                    .latest-travelogues-imagepart{
                        img{
                            width: 90px;
                            height: 90px;
                        }
                    }
                    .latest-travelogues-contentpart{
                        .date_part{
                            span{
                                font-size: 10px!important;
                                line-height: 16px!important;
                            }
                        }
                    }
                }
             
            }
        }
    }

    .popular-travelogues-categories{
        .travel_card_grid{
            margin: 30px 0 0;
            grid-template-columns: repeat(2, 1fr);
            gap: 30px 20px;
        }
    }

    .culture_tripper_wrapper_elite{
        .culture_form_elite{
            flex-direction: column;
            input{
                margin: 0 0 10px!important;
                width: 100%;
                font-size: 14px;
            }
            button{
                width: 100%;
                font-size: 14px;
            }
        }
        img{
            height: 105px;
            object-fit: cover;
        }
        &::after{
            width: 60px;
            height: 57px;
            top: 10px;
            left: 10px;
        
        }
        &::before{
            width: 60px;
            height: 57px;
            top: 10px;
            right: 10px;
        
        }
    }
    .popular-travelogues-categories {
        padding: 0 0 0;
    }

    .culture_tripper_wrapper_elite{
        margin: 40px 0;
    }

    .cece_footer{
        ul{
           flex-wrap: wrap;          
        }
        
    }
    footer{
        padding: 5px 0 30px;
        .footer_logo{
            margin-bottom: 0!important;
        }
        .footer_first{
            & > div{
                font-size: 15px;
                line-height: 18px;
            }
            .things_menu{
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                text-align: center;
                justify-content: center;
                align-items: center;
                a{
                    font-size: 12px;
                    line-height: 19px;

                }
            }
        }
        .footer_middle{
            margin: 0 0 40px;
            .footer_blog_cards_wrap{
                grid-template-columns: repeat(3, 1fr);
                gap: 20px 5px;
            }
            .footer_blog_card {
                .post_name{
                    font-size: 12px;
                    line-height: 14px;
                    & + div{
                        font-size: 10px;
                        line-height: 16px;
                    }
                }
            }
        }
        .footer_last {
            .footer_part_one{
                .footer_menu{
                    display: grid;
                    grid-template-columns: repeat(3,1fr);
                    gap: 15px;
                    a{
                        font-size: 12px;
                        line-height: 15px;
                    }
                }
            }
            .footer_part_two{
                flex-direction: column;
                align-items: flex-start!important;
                justify-content: flex-start!important;
                .policy_menu li a{
                    font-size: 10px!important;
                    line-height: 13px!important;
                }
            }
            .copyright{
                font-size: 10px!important;
                line-height: 13px!important;
                margin-top: 12px;
            }
        }
        
    }


    // 
    .browse_by_cat{
        // padding: 0 10px;
        gap: 4px;
        .elite-trip-card{
            width: 32%;
            &:nth-last-child(1),&:nth-last-child(2){
                width: 49%;
            }
            .image_part{
                img{
                    height: 200px!important;
                }
            }
        }
    }
    .browse_by_cat_elite{
        margin: 0!important;
        div.col-12:nth-child(odd){
            margin-top: 0;
        }
        .elite-trip-card{
            .image_part{
                img{
                    height: 200px!important;
                    object-position: bottom;
                }
                & > span{
                    p{
                        padding-top: 6px!important;
                    }
                }
            }
        }
    }

    // Elite trips Inner page
    .trip-intro-banner{
        .info-items-block{
            .info-item{
                padding: 0 20px;
                div{
                    &:nth-child(1){
                        font-size: 9px;
                        line-height: 14px;
                    }
                    &:nth-child(2){
                        font-size: 11px;
                        line-height: 18px;
                    }
                }
            }
        }
    }
    .inner-breadcrumb{
        flex-wrap: wrap;
        span{
            font-size: 10px;
            margin-right: 5px;
            line-height: 16px;
            &::after{
                margin-left: 5px;
            }    
            &:last-child{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 120px;
            } 
        }
    }
    .why_pick_elite{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 33px 16px;
    }
    .orange_box{
        padding: 20px!important;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        gap: 40px 30px;
        li{
            display: flex;
            align-items: center;
            justify-content: flex-start;
            span{
                font-size: 12px;
                line-height: 19px;
                margin-right: 6px;
                width: 30px;
                height: 30px;
            }
        }
    }

    #accordion_itinerary{
        .card{
            padding: 15px 0;
            .card-header{
                button{
                    font-size: 14px;
                    line-height: 22px;
                    span{
                        font-size: 10px;
                        line-height: 16px;
                    }
                }
            }
            .card-body{
                ul,p{
                    font-size: 12px;
                    line-height: 19px;
                }
            }
        }
    }

    #otherinfoTab,
    #highlightsTab{
        .nav-item{
            .nav-link{
                font-size: 12px;
                line-height: 19px;
                padding: 6px 0;
                &.active{
                    padding: 6px 18px;
                }
            }
        }
    }
    #otherinfoTabContent,#highlightsTabContent{
        .tab-pane{
            *{
                font-size: 12px;
                line-height: 19px;
            }
        }
    }
    .elite-trip-form{
        padding: 14px 23px;
        width: 95%;
        margin: auto;
        flex-direction: column;
        .content_side{
            width: 100%;
            .info-items-block{
                .info-item{
                    padding: 0 20px;
                    div{
                        &:nth-child(1){
                            font-size: 9px;
                            line-height: 14px;
                        }
                        &:nth-child(2){
                            font-size: 11px;
                            line-height: 18px;
                        }
                    }
                }
            }
        }
        .form_side{
            width: 100%;
            margin: 100px 0 0;
            &::before{
                top: -200px;
                left: 50%;
                transform: rotate(90deg) translate(0, 5%);
            }
            form{
                input,button,.notes{
                    font-size: 12px;
                    line-height: 19px;
                    padding: 12px 19px;
                    margin-bottom: 10px;
                    &::placeholder {
                        font-size: 12px;
                        line-height: 19px;
                    }
                }
            }
        }
    }
    // Elite trips Inner page end
}



